body {
    background-image: url('yellow grid.png');
    background-color: #fff6ef;
}
.page {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 120px 1fr 120px;
  gap: 15px;
  padding: 15px;
  box-sizing: border-box;
}
.middle {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 15px;
}
.header,
.left-sidebar,
.main-content,
.right-sidebar,
.footer {
  padding: 25px;
  border: 3px solid #fbfafb;
  border-radius: 12px;
  color: white;
  font-size: 24px;
  text-align: center;
  box-sizing: border-box;
}
.header {
  background-color: #dec8ef;
}
	#intro-paragraph {
		color: #262525;
        font-size: 18px;
        margin: 1px;
        padding: 20px;
        background-color: #f1ecc9;
	}
    #Me\ list {
        font-size: 18px;
        color: #262525;
        background-color: #f6eafb;
        padding: 20px;
        border: 1px solid #fafbfb;
        border-radius: 12px;
        box-sizing: border-box;
        margin: 10px 0;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    #selfportrait {
        width: 350px;
        height: auto;
        border: 6px solid #f3e3ad;
        border-radius: 10px;
    }
    #quote-button {
        font-family: Playfair Display, Lora;
        color: #fbfffb;
        font-size: 23px;
        background-color: #7ca976;
        padding: 5px 10px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }
    #holy-grail-link {
        font-size: 24px;
        color: #af778b;
        text-decoration: none;
        background-color: #f5d0d9;
        padding: 5px 10px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }
    #java-link {
        font-size: 24px;
        color: #af778b;
        text-decoration: none;
        background-color: #f5d0d9;
        padding: 5px 10px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }
    #interests-header {
        color: #ca98cf;
        font-size: 32px;
    }
      #interests {
        font-size: 18px;
        color: #262525;
        background-color: #f6eafb;
        padding: 20px;
        border: 1px solid #fafbfb;
        border-radius: 12px;
        box-sizing: border-box;
        margin: 10px 0;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    p {
        color: #262525;
        font-size: 18px;
    }
    #photo-album {
        font-size: 16px;
        color: #bd9131;
        text-decoration: none;
    }
    img {
        width: 300px;
        height: auto;
        margin: 10px;
        border-radius: 10px;
    }
    li {
        color: #9b5272;
        margin: 10px;
    }
    #places-header {
        color: #ca98cf;
        font-size: 28px;
    }
    #places {
        font-size: 18px;
        color: #262525;
        background-color: #f6eafb;
        padding: 20px;
        border: 1px solid #fafbfb;
        border-radius: 12px;
        box-sizing: border-box;
        margin: 10px 0;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    #food-header {
        color: #ca98cf;
        font-size: 30px;
    }
    #food {
        font-size: 18px;
        color: #262525;
        background-color: #f6eafb;
        padding: 20px;
        border: 1px solid #fafbfb;
        border-radius: 12px;
        box-sizing: border-box;
        margin: 10px 0;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .savory {
        color: #c18e47;
    }
    .sweet {
        color: #ac608e;
    }
    .halloween {
        width: 250px;
        height: auto;
        margin: 10px;
        border-radius: 10px;
    }
    .foodpic {
        width: 300px;
        height: auto;
        margin: 10px;
        border-radius: 10px;
    }
.left-sidebar {
  background-color: #f0c7d7;
}

.main-content {
  background-color: #d6deb7;
}

.right-sidebar {
  background-color: #f0c7d7;
}

.footer {
  background-color: #f2d9ca;
}
.footer a {
  color: rgb(238, 211, 204);
  font-size: 16px;
}

.footer a:hover {
  color: #fff3a3;
}