body {
    background-image: url('yellow grid.png');
    background-color: #fff6ef;
}
	h1#myweb {
        color: #cca8ce;
        font-size: 48px;
        margin: 1px;
        padding: 45px;
        background-color: #e9d3e9;

	}
	#intro-paragraph {
		color: #262525;
        font-size: 18px;
        margin: 1px;
        padding: 20px;
        background-color: #fffffe;
	}
    #selfportrait {
        width: 350px;
        height: auto;
        border: 6px solid #c69bdb;
        border-radius: 10px;
    }
    #quote-button {
        font-family: Playfair Display, Lora;
        font-size: 16px;
        background-color: #f5d0d9;
        padding: 5px 10px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }
    #interests-header {
        color: #ca98cf;
        font-size: 32px;
    }
      #interests {
        font-size: 18px;
        background-color: #e9d3e9;;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 400px;
    }
	#interest-header {
		color: #ca98cf;
        font-size: 28px;
	}
    p {
        color: #262525;
        font-size: 18px;
    }
    #photo-album {
        font-size: 16px;
        color: #bd9131;
        text-decoration: none;
    }
    img {
        width: 300px;
        height: auto;
        margin: 10px;
        border-radius: 10px;
    }
    li {
        color: #9b5272;
        margin: 10px;
    }
    #places-header {
        color: #ca98cf;
        font-size: 28px;
    }
    #places {
        font-size: 18px;
        background-color: #e9d3e9;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 400px;
    }
    .savory {
        color: #c18e47;
    }
    .sweet {
        color: #e76eb6;
    }
    .halloween {
        width: 330px;
        height: auto;
        margin: 10px;
        border-radius: 10px;
    }
	body {
		font-family: Playfair Display, Lora;
		background-color: #fff6ef;
		margin: 20px;
	}